.article {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 0 2rem;
    width: 100%;
}

.date {
    font-weight: 200;
    font-size: 0.8rem;
}

.title {
    font-family: 'Proxima Bold';
    font-size: 1.4rem;
    margin-bottom: 0.4rem;
}

.contentWrapper {
    margin: 1rem 0;
}

.content {
    font-size: 1rem;
    font-weight: 200;
}