@import '../../styles/variables.scss';

.navButton {
    color: white;
    background-color: $green;
    border: 1px solid $green;
    width: fit-content;
    padding: 0.4rem 0.6rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
    transition: .4s all;
}

.navButton:hover {
    cursor: pointer;
    color: $green;
    background-color: white;
}