@import '../../styles/variables.scss';

.navBar {
    position: fixed;
    top: 0;
    width: 100%;
    max-height: 62px;
    height: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    font-size: 1.2rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.homeLinks {
    font-family: "Proxima Bold";
    font-size: 1.4rem;
}

.navLinks {
    font-family: "Proxima Regular";
    height: 100%;
    display: flex;
    align-items: center;

    a {
        margin-left: 1.4rem;
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;

    }

    a:hover {
        border-bottom: 3px solid $green;
    }

}
